<?xml version="1.0"?>
<robot name="kaybot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="common_properties.xacro" />
    <xacro:include filename="mobile_base.xacro" />

    <gazebo reference="front_left_caster_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>
    <gazebo reference="front_right_caster_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>
    <gazebo reference="rear_left_caster_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>
    <gazebo reference="rear_right_caster_link">
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>

    <ros2_control name="KayBot" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="base_right_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="base_left_wheel_joint">
            <command_interface name="velocity" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>
    
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find kaybot_bringup)/config/kaybot_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>